.list {
    list-style-type: armenian;
    list-style-type: circle;
    list-style-type: none;
    list-style-type: decimal-leading-zero;
    list-style-image: url(../assets/aves.png);
    list-style-image: none;

}

.list li {
    list-style-type: none;
}

.list li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../assets/favicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list-2 li{
    background-color: cornflowerblue;
    list-style-position: inside;
}

.list-3 li {
    background-color: cornsilk;
    list-style: lower-latin inside;
}

.text-column-4 {
    list-style-position: inside;
    column-count: 4;
    column-gap: 2rem;
    column-rule: thin dotted red;
    column-width: 100px;
}

.text-column-3 {
    column-count: 3;
    column-gap: 2rem;
    column-rule: thin solid gray;
    column-width: 100px;
}